@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
@use './css-reset';
html,
body {
  height: 100%;
  color: #261914;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #434343;
  height: 4em;
  z-index: 1000;
}

.navbar a {
  font-size: 2em;
  text-decoration: none;
  color: #f8f9fc;
}

.nav {
  background: transparent;
  height: 5em;
  padding-right: 5em;
}

.nav a {
  font-size: 2em;
  color: #261914;
}

.heading {
  font-family: "Ubuntu";
}

.landing-page {
  background-image: url("/front-end/src/img/calc.jpg");
  background-color: beige;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}

.landing-text {
  margin-top: 4em;
}

.landing-text em,
.landing-text strong {
  color: #A62940;
}

.landing-text h4 {
  margin-top: 1em;
  font-size: 2.5em;
}

.landing-text .btn {
  font-size: 1.8em;
  border: #A62940 1px solid;
  background-color: #A62940;
  color: #ffffff;
}

.landing-text .lead {
  margin-top: 2em;
  font-size: 2em;
}

.services {
  overflow-x: hidden;
}

.services h3 {
  font-size: 3em;
  padding-left: 2em;
}

.services .card img {
  width: 8em;
  height: auto;
  margin: 1em auto;
}

.red {
  background-color: #A62940;
}

.about p {
  font-size: 2em;
  line-height: 1.5em;
}

.about .btn {
  display: block;
  position: relative;
  margin: 5em auto;
  width: 15em;
  font-size: 1em;
  margin: 2em auto;
  color: #A62940;
  border: #A62940 1px solid;
}

.about a:hover,
.about a:active,
.about a:focus {
  color: #ffffff;
  background-color: #A62940;
  border: #A62940 1px solid;
}

.contact {
  overflow-x: hidden;
}

.contact label {
  font-size: 1.8em;
}

.contact ::-webkit-input-placeholder {
  font-size: 1.1em;
}

.contact :-ms-input-placeholder {
  font-size: 1.1em;
}

.contact ::-ms-input-placeholder {
  font-size: 1.1em;
}

.contact ::placeholder {
  font-size: 1.1em;
}

.contact .btn {
  font-size: 2em;
  border: #A62940 1px solid;
  background-color: #A62940;
  color: #ffffff;
  margin-left: 35%;
}

.contact .btn:hover {
  background-color: #ffffff;
  border: #A62940 1px solid;
  color: #A62940;
}

.container-fluid {
  padding: 0;
}

.container-fluid .left img {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 2em auto;
  border-radius: 50%;
  background-color: #dddddd;
}

.container-fluid .left .edit-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container-fluid .left .list-group-flush {
  width: 20em;
}

.container-fluid .left .list-group-flush a {
  display: inline;
}

.container-fluid .right {
  background-color: #dddddd;
}

.container-fluid .right .card {
  padding: 0;
  width: 50em;
  position: relative;
  margin: 5em auto;
}

.container-fluid .right .sub-card {
  margin-top: 2em;
  max-width: 40em;
}

.container-fluid .right .sub-card .btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0.5em 0 0.5em 0.5em;
}
/*# sourceMappingURL=style.css.map */