// -----------variablse
// Css reset 
@use './css-reset';

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
$heading : 'Ubuntu';
// $body-text : 'Raleway';
// $subheading : 'Raleway';

$bold : 600;
$light: 300;

// -----------------
html,
body {
    //Important for bootstrap
    font-size: 16px;
    overflow-x: hidden;
    height: 100%;
}

.heading {
    font-family: $heading;
}

//----------Navbar----------
.navbar {
    position: sticky;
    top: 0;
    background-color: #434343;
    height: 4em;
    z-index: 1000;

    a {
        text-decoration: none;
        color: #f8f9fc;
    }
}

//----------Dashboard
.container-fluid {
    padding: 0;

    //----------Left Section
    .left {

        img {
            width: 150px;
            height: auto;
            position: relative;
            margin: 2em auto;
            border-radius: 50%;
            background-color: #dddddd;
        }

        .edit-btn {
            width: fit-content;
        }

        .list-group-flush {
            a {
                display: inline;
            }

            width: 20em;
        }
    }


    //-----------Right Section
    .right {
        background-color: #dddddd;

        .card {
            padding: 0;
            width: 50em;
            position: relative;
            margin: 5em auto;
        }

        .sub-card {
            margin-top: 2em;
            max-width: 40em;

            .btn {
                max-width: fit-content;
                margin: 0.5em 0 0.5em 0.5em;
            }
        }
    }
}